*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
}
a{
    font-family: Roboto, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: .3s;
}
a:hover{
    color: #00e0d0;
}


/*              HEADER                */


.mainHeader{
    background-image: url(img/mainBg.jpg);
    background-size: cover;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}
.header__icon{
    display: flex;
    margin: 10px;
}
.header__iconText{
    margin: auto 0;
    font-family:  Roboto, sans-serif;
    color: #1d8191;
    font-size: 30px;
}
.header__iconImage{
    margin-right: 10px;
}
.header__menu{

}
.header__button{
    display: flex;
    list-style: none;
}
.button{
    /*margin: 15px;*/
    margin-right: 20px;
    font-size: 13px;
    transition: .3s;
}

.main{
    margin: 50px auto 0;
}
.main__title{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 100px;
}
.title__text{
    font-size: 28px;
    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
    color: white;
    /*text-shadow: 2px 2px 5px black;*/
}
.lineUnderMainTitle{
    width: 50px;
    height: 1px;
    margin: 0 auto;
    background: #00e0d0;
}
.main__content{
    margin: 0 auto 40px;
    text-align: center;
    padding: 20px;
    max-width: 900px;
    line-height: 1.5;
}
.content__text{
    color: white;
    font-family: Roboto, sans-serif;
    opacity: .8;
}
.main__button{
    margin: 0 auto 75px auto;
    max-width: 130px;
    height: 40px;
    border: 2px solid #00e0d0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00e0d0;
    transition: .7s;
    font-size: 13px;
    font-weight: bold;
    font-family: HammersmithOne,sans-serif;
}
.main__button:hover{
    color: #1d8191;
    border: 2px solid #1d8191;
    cursor: pointer;
}
.button__text{

}

.header__footer{
    margin-top: 50px;
}
.footer__point{
    display: flex;
    margin: 0 auto;
    padding: 50px;
    width: 165px;
}
.point{
    height: 8px;
    width: 8px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 auto;
    list-style: none;
    transition: .3s;
}
.point:hover{
    border: none;
    background: #00e0d0;
    cursor: pointer;
}


/*         OUR STORY         */


.ourStory{

}

.ourStory__main{
    margin: 80px auto;
    max-width: 900px;
    display: flex;
}
.ourStory__mainIcon{
    margin-right: 30px;
}
.ourStory__mainDescription{

}

.description__title{
    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin: 0 0 20px 0;
}
.description__text{
    font-family: Roboto, sans-serif;
    color: dimgray;
}
.description__button{
    margin: 20px 0 0 0;
    max-width: 130px;
    height: 40px;
    border: 2px solid #00e0d0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00e0d0;
    transition: .7s;
    font-size: 13px;
    font-weight: bold;
    font-family: HammersmithOne,sans-serif;
}
.description__button:hover{
    color: #1d8191;
    border: 2px solid #1d8191;
    cursor: pointer;
}


/*        WATCH OUR STORY         */


.ourStory__watchOurStory{
    height: 550px;
    background-image: url(img/watchOurStory.png);
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.watchOurStory__icon{

}
.watchOurStory__text{
    font-size: 16px;
    margin-top: 20px;
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}


/*        EXPERTISE          */

.expertise{

}

.expertise__title{
    max-width: 900px;
    margin: 60px auto;
}
.expertise__titleMain{
    font-size: 22px;
    font-family: "Playfair Display", sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}
.expertise__titleText{
    font-size: 14px;
    font-family: "Playfair Display", sans-serif;
    text-align: center;
    margin-bottom: 20px;
    align-items: center;
    color: #aca9b9;
}
.lineUnderMainTitle--grey{
    background: grey;
    margin: 0 auto;
}

.expertise__main{
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
    margin: 60px auto;
}
.expertiseBlock{
    max-width: 250px;
    height: 200px;
    padding: 10px 20px;
    border: 1px solid #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.expertiseBlock-noBorderTopLeft{
    border-top: none;
    border-left: none;
}
.expertiseBlock-noBorderTopCenter{
    border-top: none;
}
.expertiseBlock-noBorderTopRight{
    border-top: none;
    border-right: none;
}
.expertiseBlock-noBorderBottomLeft{
    border-bottom: none;
    border-left: none;
}
.expertiseBlock-noBorderBottomCenter{
    border-bottom: none;
}
.expertiseBlock-noBorderBottomRight{
    border-bottom: none;
    border-right: none;
}
.block__image{
    display: flex;
    margin: 2px auto;
}
.block__title{
    font-weight: bold;
    text-align: center;
    margin: 3px;
    font-family: Roboto, sans-serif;
    font-size: 14px;

}
.block__content{
    text-align: center;
    font-size: 14px;
    color: grey;
    font-family: Roboto, sans-serif;
}

@media screen  and (max-width: 800px) {

    /*              HEADER                */
    .mainHeader {
        background-image: url(img/mainBg.jpg);
        -webkit-background-size: cover;
        background-size: cover;
        margin: 0 auto;
    }

    .header {
        flex-direction: column;
    }

    .header__icon {
        display: flex;
        flex-direction: column;
        margin: 2vh auto;
    }

    .header__iconImage {
        height: 50px;
        width: 45px;
        margin: 0;
    }

    .header__iconText {
        margin: auto 0;
        font-family: Roboto, sans-serif;
        color: #1d8191;
        font-size: 19px;
    }

    .header__button {
        display: flex;
        /*flex-wrap: wrap;*/
        list-style: none;
    }

    .button {
        margin: 0 7px;
        font-size: 12px;
        transition: .3s;
    }

    .main {
        margin: 20px auto 0;
    }

    .main__title {
        text-align: center;
        margin-bottom: 30px;
        margin-top: 100px;
    }

    .title__text {
        font-size: 25px;
        font-family: "Playfair Display", sans-serif;
        font-weight: bold;
        color: white;
        /*text-shadow: 2px 2px 5px black;*/
    }

    .lineUnderMainTitle {
        width: 30px;
        height: 1px;
        margin: 0 auto;
        background: #00e0d0;
    }

    .main__content {
        margin: 0 auto 25px;
        text-align: center;
        padding: 10px;
        max-width: 80vw;
        line-height: 1.2;
    }

    .content__text {
        color: white;
        font-size: 14px;
        font-family: Roboto, sans-serif;
        opacity: .8;
    }

    .main__button {
        margin: 0 auto 75px auto;
        max-width: 100px;
        height: 30px;
        border: 2px solid #00e0d0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #00e0d0;
        transition: .7s;
        font-size: 12px;
        font-weight: bold;
        font-family: HammersmithOne, sans-serif;
    }

    .footer {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .footer__point {
        display: flex;
        margin: 0 auto;
        padding: 25px;
        width: 100px;
    }

    .point {
        height: 8px;
        width: 8px;
        border: 1px solid white;
        border-radius: 50%;
        margin: 0 auto;
        list-style: none;
        transition: .3s;
    }

    /*         OUR STORY         */
    .ourStory {
        margin: 0 auto;
    }

    .ourStory__main {
        display: flex;
        flex-direction: column;
        margin: 15px auto 40px 0;
        max-width: 900px;
    }

    .ourStory__mainIcon {
        margin: 0 auto;
        display: flex;
    }

    .ourStoryIcon {
        width: 100px;
        height: 100px;
    }

    .ourStory__mainDescription {

    }

    .description__title {
        font-family: "Playfair Display", sans-serif;
        font-weight: bold;
        font-size: 25px;
        margin-bottom: 10px;
        text-align: center;
    }

    .description__text {
        font-family: Roboto, sans-serif;
        font-size: 14px;
        text-align: center;
        color: dimgray;
        margin: 10px;
    }

    .description__button {
        margin: 0 auto;
        max-width: 100px;
        height: 30px;
        border: 2px solid #00e0d0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #00e0d0;
        transition: .7s;
        font-size: 12px;
        font-weight: bold;
        font-family: HammersmithOne, sans-serif;
    }

    .description__button:hover {
        color: #1d8191;
        border: 2px solid #1d8191;
        cursor: pointer;
    }

    /*        WATCH OUR STORY         */
    .ourStory__watchOurStory {
        height: 300px;
        background-image: url(img/watchOurStory.png);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .watchOurStory__text {
        font-size: 16px;
        margin-top: 20px;
        color: white;
        font-family: Roboto, sans-serif;
        font-weight: bold;
    }

    /*        EXPERTISE          */
    .expertise__main {
        display: flex;
        flex-wrap: wrap;
        max-width: 750px;
        margin: 60px auto;
    }

    .expertiseBlock {
        max-width: 250px;
        height: 200px;
        padding: 10px 20px;
        border: none;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}
@media screen  and (max-width: 500px) {

    /*              HEADER                */
    .mainHeader {
        background-image: url(img/mainBg.jpg);
        -webkit-background-size: cover;
        background-size: cover;
        margin: 0 auto;
    }

    .header {
        flex-direction: column;
    }

    .header__icon {
        display: flex;
        flex-direction: column;
        margin: 2vh auto;
    }

    .header__iconImage {
        height: 45px;
        width: 40px;
        margin: 0;
    }

    .header__iconText {
        margin: auto 0;
        font-family: Roboto, sans-serif;
        color: #1d8191;
        font-size: 15px;
    }

    .header__button {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: center;
    }

    .button {
        margin: 7px 8px;
        font-size: 13px;
        transition: .3s;
    }

    .main {
        margin: 20px auto 0;
    }

    .main__title {
        text-align: center;
        margin-bottom: 30px;
        margin-top: 100px;
    }

    .title__text {
        font-size: 22px;
        font-family: "Playfair Display", sans-serif;
        font-weight: bold;
        color: white;
        /*text-shadow: 2px 2px 5px black;*/
    }

    .lineUnderMainTitle {
        width: 30px;
        height: 1px;
        margin: 0 auto;
        background: #00e0d0;
    }

    .main__content {
        margin: 0 auto 25px;
        text-align: center;
        padding: 10px;
        max-width: 90vw;
        line-height: 1.2;
    }

    .content__text {
        color: white;
        font-size: 13px;
        font-family: Roboto, sans-serif;
        opacity: .8;
    }

    .main__button {
        margin: 0 auto 75px auto;
        max-width: 100px;
        height: 30px;
        border: 2px solid #00e0d0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #00e0d0;
        transition: .7s;
        font-size: 11px;
        font-weight: bold;
        font-family: HammersmithOne, sans-serif;
    }

    .footer {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .footer__point {
        display: flex;
        margin: 0 auto;
        padding: 25px;
        width: 100px;
    }

    .point {
        height: 8px;
        width: 8px;
        border: 1px solid white;
        border-radius: 50%;
        margin: 0 auto;
        list-style: none;
        transition: .3s;
    }

    /*         OUR STORY         */
    .ourStory {
        margin: 0 auto;
    }

    .ourStory__main {
        display: flex;
        flex-direction: column;
        margin: 20px auto 40px 0;
        max-width: 900px;
    }

    .ourStory__mainIcon {
        margin: 0 auto;
        display: flex;
    }

    .ourStoryIcon {
        width: 100px;
        height: 100px;
    }

    .ourStory__mainDescription {

    }

    .description__title {
        font-family: "Playfair Display", sans-serif;
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 10px;
        text-align: center;
    }

    .description__text {
        font-family: Roboto, sans-serif;
        font-size: 13px;
        text-align: center;
        color: dimgray;
        margin: 10px;
    }

    .description__button {
        margin: 0 auto;
        max-width: 100px;
        height: 30px;
        border: 2px solid #00e0d0;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #00e0d0;
        transition: .7s;
        font-size: 11px;
        font-weight: bold;
        font-family: HammersmithOne, sans-serif;
    }

    .description__button:hover {
        color: #1d8191;
        border: 2px solid #1d8191;
        cursor: pointer;
    }

    /*        WATCH OUR STORY         */
    .ourStory__watchOurStory {
        height: 300px;
        background-image: url(img/watchOurStory.png);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .watchOurStory__text {
        font-size: 16px;
        margin-top: 20px;
        color: white;
        font-family: Roboto, sans-serif;
        font-weight: bold;
    }

    /*        EXPERTISE          */
    .expertise {

    }

    .expertise__title {
        max-width: 900px;
        margin: 60px auto;
    }

    .expertise__titleMain {
        font-size: 22px;
        font-family: "Playfair Display", sans-serif;
        font-weight: bold;
        text-align: center;
        margin: 10px;
    }

    .expertise__titleText {
        font-size: 14px;
        font-family: "Playfair Display", sans-serif;
        color: grey;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .lineUnderMainTitle--grey {
        background: grey;
        margin: 0 auto;
    }

    .expertise__main {
        display: flex;
        flex-wrap: wrap;
        max-width: 750px;
        margin: 60px auto;
    }

    .expertiseBlock {
        max-width: 250px;
        height: 200px;
        padding: 10px 20px;
        border: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .expertiseBlock-noBorderTopLeft {
        border-top: none;
        border-left: none;
    }

    .expertiseBlock-noBorderTopCenter {
        border-top: none;
    }

    .expertiseBlock-noBorderTopRight {
        border-top: none;
        border-right: none;
    }

    .expertiseBlock-noBorderBottomLeft {
        border-bottom: none;
        border-left: none;
    }

    .expertiseBlock-noBorderBottomCenter {
        border-bottom: none;
    }

    .expertiseBlock-noBorderBottomRight {
        border-bottom: none;
        border-right: none;
    }

    .block__image {
        display: flex;
        margin: 2px auto;
    }

    .block__title {
        font-weight: bold;
        text-align: center;
        margin: 3px;
        font-family: Roboto, sans-serif;
        font-size: 14px;

    }

    .block__content {
        text-align: center;
        font-size: 14px;
        color: grey;
        font-family: Roboto, sans-serif;
    }
}